body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*___________________heder___________________*/
.heder {
  display: flex;
  padding: 90px 24px 94px 24px;
  font-size: 18px;
}

.heder__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3px 0px 0px 13px;
}

.heder__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header__links-list-item {
  list-style-type: circle;
  margin: 0 22px 0 12px;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.heder__menu-link-item-activ {
  list-style-type: none;
}

.heder__menu-link-non-border {
  border-bottom: none;
}

.heder__logo-link {
  margin: 0px 132px 0px 14px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  margin:auto;
}

.address {
  width: 210px;
  line-height: 24px;
}

.address-link {
  text-underline-offset: 4px;
  font-style: normal;
}

.address-text {
  font-style: normal;
}

/*___________________main___________________*/

/*__________________cover___________________*/
.cover {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: 0;
  background-color: rgba(0,0,0,0.6);
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  letter-spacing: 35px;
  font-size: 100px;
  padding: 165px 0px 122px 0px;
}

.cover__title-left {
  letter-spacing: 30px;

}
.title-left-spacing {
  letter-spacing: 26px;
  white-space: pre;
}

.title-letter-O {
  letter-spacing: 5px;
}

.cover__title-center {
  letter-spacing: 30px;
  padding-top: 10px;
  margin: auto;
}

.title-center-spacing {
  letter-spacing: 3px;
  white-space: pre;
}

.title-letter-E {
  letter-spacing: 60px;
}

.cover__title-right {
  margin-left: auto;
  margin-right: 0;
  letter-spacing: 28px;
  padding-top: 3px;
}

.title-letter-H {
  letter-spacing: 60px;
}

.title-right-spacing {
  letter-spacing: 0px;
  white-space: pre;
}

.cover__footer {
  z-index: 0;
  display: inline-flex;
  margin: 2px 0px 52px 0px;
}

.cover__description-text {
  word-spacing: 18px;
  font-size: 22px;
  margin: 16px 0px 0px 80px;
}

.bet-button {
  margin: 2px 0px 0px 80px;
  width: 256px;
  height: 51px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 22px;
  text-transform: uppercase;
  background-color: Transparent;
  color: white;
}


/*___________________(lots)___________________*/
.lots {
  display: flex;
  flex-direction: column;

}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 177px 0px 0px 64px;
  font-family: Raleway, sans-serif;
}


.lots__card-list {
  list-style-type:none;
  margin: 27px auto 28px auto;
  display: inline-flex;
  flex: 1;
}


.lots__card-list-item {
  text-decoration: none;
  display: inline-flex;
  margin: 0 12px;
}

.card-link {
  display: inline-flex;
  text-decoration: none;
  width: 334px;
  min-height: 100%;
  position: relative;
}

.card_type {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 50px 40px;
  width: 334px;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 22px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  z-index: 1;
  align-items: end;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  margin: 0px 0px 0px 63px;
  text-underline-offset: 4px;
}


/*___________________(about)_______________________*/
.about {
  margin-top: 184px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  background-color: black;
  color: white;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;

}

.about__title {
  margin: 100px 0px 0px 48px;
  text-transform: uppercase;
  font-size: 40px;
}

.text__box {
  margin: 100px 0px 0px 50px;
}

.about__text {
  margin: 25px 0px 0px 0px;
  font-size: 20px;
  word-spacing: 3px;
  font-weight: 400;
}


/*___________________footer___________________*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 181px 0px 88px 0px ;
  font-size: 18px;
  gap: 40px;
}

.footer_address {
  margin: auto 0 auto 51px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style-type:none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}


.footer__social-list {
  display: flex;
  list-style-type:none;
  justify-content:center;
  gap: 48px;
}

.footer__social-list-item {
  display: inline;
}

.footer__menu-link-item-activ {
  text-decoration: none;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}